//
//  WeatherAPI.xcconfig
//  noStoryboard
//
//  Created by Kevin Wang on 9/25/18.
//  Copyright © 2018 KevinWang. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

OPENWEATHER_API_KEY=bdb3ce46e2780a9a430316fbe4f8fb36

// bdb3ce46e2780a9a430316fbe4f8fb36
